ci-card {
  margin: 50px 0;
  display: block;
  .mdl-card {
    width: 100%;
    height: 100%;
    background: none;

    transition: box-shadow 0.4s ease;

    .ci-card-content {
      background-color: white;

      transition-property: opacity;
      transition-timing-function: ease-in;
      transition-duration: 0.4s;

      opacity: 0;

      > * {
        transition-property: opacity, transform;
        transition-timing-function: ease-in, ease-in;
        transition-duration: 0.2s;
        opacity: 0;
        transform: translateY(10px);
        &.visible {
          opacity: 1;
          transform: translateY(0px);
          transition-timing-function: ease-out, ease-out;
        }
      }
    }


    &.visible {
      .ci-card-content {
        transition-delay: 0s;
        opacity: 1;
        transition-timing-function: ease-out;
      }
    }
  }
}
