ci-card {
  margin: 25px 0;
  display: block;
  .mdl-card {
    width: 100%;
    background: none;

    transition: box-shadow 0.4s ease-in-out;

    .ci-card-content {
      padding: 20px 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;

      transition-property: opacity;
      transition-timing-function: ease-in-out;
      transition-delay: 0.2s;
      transition-duration: 0.2s;

      opacity: 0;
    }

    &.visible {
      .ci-card-content {
        transition-delay: 0s;
        opacity: 1;
      }
    }
  }
}
