.dais-cards {
  width: 100%;

  display: flex;

  .dais-card {
    display: inline-block;
    flex: 1;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .ci-card-inner {
      text-align: center;
    }

    .ci-card-content {
      width: 100%;
      height: 100%;
    }

    ci-avatar {
      width: 80px;
      height: 80px;
      display: block;
      margin: 20px auto;
      position: relative;
    }

    .dais-hint {
      margin: 0px auto 15px auto;
      width: 80px;
      text-align: left;
      display: inline-block;
    }

    .dais-name {
      line-height: 30px;
      font-size: 24px;
      color: rgba(0,0,0,.87);
    }

    .dais-title {
      line-height: 20px;
      font-size: 16px;
      color: rgba(0,0,0,.54);
    }
  }

  .dais-add {
    .material-icons {
      font-size: 80px;
      line-height: 80px;
      color: rgba(0,0,0,.3);
    }

    .ci-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    cursor: pointer;
  }
}

.participant-edit-icon {
  display: inline-block;
  line-height: 28px;
  cursor: pointer;

  opacity: 0.54;
  transition: opacity 0.2s ease;

  .material-icons {
    color: black;
  }

  &:hover {
    opacity: 0.7;
  }

  .editing & {
    opacity: 0;
    cursor: default;
    
    &:hover {
      opacity: 0;
    }
  }
}

.participant-cards {
  margin-bottom: 40px;
  .participant-card {

    // Dimensions
    width: 440px;
    height: 150;
    margin: 0 20px 20px 0;
    float: left;

    &:nth-child(2n) {
      margin-right: 0;
    }

    .ci-card-content {
      overflow: hidden;
    }

    // Pending action

    > .mdl-card {
      transition: box-shadow 0.2s ease;
    }

    .pending & {
      cursor: pointer;

      > .mdl-card {
        // .mdl-shadow--6dp
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);

        &:hover {
          // .mdl-shadow--12dp
          box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
        }
      }
    }

    // Components

    .seat {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }

    &.unassigned {
      .seat {
        color: rgba(0,0,0,.54);
      }
    }

    .participants {
      height: 100px;

      display: flex;

      .participant {
        flex: 1;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        ci-avatar {
          height: 60px;
          width: 60px;
          line-height: 60px;
          position: relative;
          display: inline-block;
          font-size: 30px;
          margin-right: 10px;
        }

        .participant-hint {
          display: inline-block;
        }

        .participant-operations {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          transform: translateX(-20px);
          transition: transform 0.2s ease;

          padding: 0;
          padding-left: 20px;
          background: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 10px, rgba(255,255,255,1) 100%);

          .participant-operation {
            opacity: 0;
            transition: opacity 0.2s ease;

            .material-icons {
              color: black;
              opacity: 1;
              font-size: 24px;
              line-height: 100px;
              margin: 0 10px;
            }

            .editing & {
              cursor: pointer;
            }
          }
        }

        .editing:not(.pending) &:hover {
          .participant-operations {
            transform: translateX(-100%);

            .participant-operation {
              opacity: 0.3;

              &:hover {
                opacity: 0.54;
              }
            }
          }
        }
      }
    }
  }
}

.bottom-bar {
  position: fixed;
  left: 0;
  top: 100%;
  z-index: 1;
  background: white;
  height: 300px;
  width: 100%;

  transform: translateY(10px);
  transition: transform 0.2s ease;

  .editing & {
    transform: translateY(-60px);
  }

  .editing &.extended {
    transform: translateY(-300px);
  }

  .bottom-bar-title {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background: white;

    line-height: 60px;
    font-size: 18px;

    &.bottom-bar-title-moving {
      opacity: 0;
      transform: translateY(300px);
      transition-property: opacity, transform;
      transition-duration: 0.2s, 0s;
      transition-timing-function: ease-in, linear;
      transition-delay: 0s, 0.2s;

      .moving & {
        opacity: 1;
        transform: translateY(0);
        transition-timing-function: ease-in, linear;
        transition-delay: 0s, 0s;
      }
    }

    &.bottom-bar-title-assigning {
      opacity: 0;
      transform: translateY(300px);
      transition-property: opacity, transform;
      transition-duration: 0.2s, 0s;
      transition-timing-function: ease-in, linear;
      transition-delay: 0s, 0.2s;

      .assigning & {
        opacity: 1;
        transform: translateY(0);
        transition-timing-function: ease-in, linear;
        transition-delay: 0s, 0s;
      }
    }

    cursor: pointer;

    .pending & {
      cursor: default;
    }

    .moving & {
      cursor: default;
    }

    .material-icons {
      margin-right: 6px;
      opacity: 0.87;
    }

    .bottom-bar-container {
      display: flex;
      align-items: center;
    }
  }

  .bottom-bar-container {
    // TODO: responsive

    position: relative;
    width: 900px;
    margin: 0 auto;
  }

  .bottom-bar-operations {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    .bottom-bar-operation {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 6px;

      opacity: 0.54;
      transition: opacity 0.2s ease;

      .material-icons {
        margin: 0;
        color: black;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .seat-list {
    margin-top: 60px;
    line-height: 42px;

    .seat {
      height: 32px;
      line-height: 32px;

      padding: 0 12px;
      margin: 0 6px;

      border: rgba(0,0,0,.3) 1px solid;
      border-radius: 16px;

      display: inline-flex;
      align-items: center;

      vertical-align: top;

      .material-icons {
        color: rgba(0,0,0,.3);
      }

      cursor: pointer;

      &.valid {
        border-color: rgba(76,175,80,.7);
      }

      &.invalid {
        border-color: rgba(244,67,54,.7);
      }
    }
  }
}

.seat-settings {
  margin-left: 30px;
  input {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    border-bottom: rgba(0,0,0,.12) 1px solid;

    &:first-child {
      margin-right: 12px;
    }
  }
}
