.conf-member-list {
  padding-top: 16px;
  height: 60px;

  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    float: left;
  }

  .conf-member-info {
    float: left;

    .conf-member-name {
      line-height: 25px;
      font-size: 20px;
      padding-top: 5px;
      color: rgba(0,0,0,.87);
    }

    .conf-member-role {
      line-height: 20px;
      font-size: 16px;
      margin-top: 5px;
      color: rgba(0,0,0,.54);
    }
  }

  &:last-child {
    padding-bottom: 16px;
  }
}
