.conf-member-list {
  padding-top: 16px;
  height: 60px;

  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    float: left;
  }

  .conf-member-info {
    .conf-member-name {
      line-height: 25px;
      font-size: 20px;
      padding-top: 5px;
      color: rgba(0,0,0,.87);
    }

    .conf-member-role {
      line-height: 20px;
      font-size: 16px;
      margin-top: 5px;
      color: rgba(0,0,0,.54);
      height: 20px;
      white-space: nowrap;
    }
  }

  .masker {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;

    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 75%, white 100%);
  }

  &:last-child {
    padding-bottom: 16px;
  }
}

.conf-jumplist {
  tr.is-active {
    background: rgba(0,0,0,.06);
  }
}

.conf-moderator-card {
  position: fixed;
  bottom: 0;
  right: 100px;

  width: 300px;

  z-index: 4;

  transition: transform 0.3s ease-in;
  transform: translateY(100%);

  &.conf-moderator-shown {
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }
}

.moderator-note-showbox pre {
  white-space: pre-wrap;
  margin: 0;
}
