.conf-member-list {
  padding-top: 16px;
  height: 60px;

  ci-avatar {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;

    margin-right: 20px;
    float: left;
  }

  .conf-member-info {
    .conf-member-name {
      line-height: 25px;
      font-size: 20px;
      padding-top: 5px;
      color: rgba(0,0,0,.87);
    }

    .conf-member-role {
      line-height: 20px;
      font-size: 16px;
      margin-top: 5px;
      color: rgba(0,0,0,.54);
      height: 20px;
      white-space: nowrap;
    }
  }

  .masker {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;

    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 75%, white 100%);
  }

  &:last-child {
    padding-bottom: 16px;
  }
}

.conf-jumplist {
  tr.is-active {
    background: rgba(0,0,0,.06);
  }
}

.conf-moderator-card {
  position: fixed;
  bottom: 0;
  right: 100px;

  width: 700px;

  z-index: 4;

  transition: transform 0.3s ease-in;
  transform: translateY(100%);

  &.conf-moderator-shown {
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }
}

.moderator-note-showbox pre {
  white-space: pre-wrap;
  margin: 0;
}

// New form card
.new-form-dialog-overlap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgba(0,0,0,.3);

  transform: translateY(-10000%); // Out of screen
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 0s, 0.2s;

  transition-timing-function: linear, ease-in;
  transition-delay: 0.2s, 0s;

  &.shown {
    transition-timing-function: linear, ease-out;
    transition-delay: 0s, 0s;

    opacity: 1;
    transform: translateY(0);
  }

  .new-form-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
  }
}

.ci-application-list {
  tbody tr {
    transition-property: transform, opacity, background-color;
    transition-timing-function: ease, ease, cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s, .2s, .28s;

    border-bottom: rgba(0,0,0,.12);
  }

  .sort-indicator {
    transition: transform 0.2s ease, opacity 0.2s ease-in;
    opacity: 0;
    transform: rotate(180deg);

    &.sorted {
      transition: transform 0.2s ease, opacity 0.2s ease-out;
      opacity: 1;
    }

    &.ascending {
      transform: rotate(0);
    }
  }
}

.ci-application-search {
  height: 64px;
  position: relative;

  .ci-card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .ci-card-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
  }

  .ci-application-search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 64px;
    line-height: 64px;

    font-size: 18px;

    text-align: center;
  }

  .ci-application-search-input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    padding: 0 160px 0 64px;
    box-sizing: border-box;

    outline: 0;
    border: none;
    line-height: 64px;

    font-size: 18px;
  }

  .ci-application-indicators {
    position: absolute;
    right: 0;
    width: 96px;
    top: 0;
    bottom: 0;
    padding: 8px 32px;

    .indicator {
      display: block;
      width: 100%;
      line-height: 24px;
      height: 24px;

      color: rgba(0,0,0,.30);

      .material-icons {
        color: rgba(0,0,0,.30);
      }
    }
  }
}
