.login-box {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  ci-card {
    width: 300px;
    height: auto;
    margin: 0 auto;
  }

  .state-button {
    float: right;
  }

  .login-extra {
    text-align: center;
    margin-top: 24px;
    color: rgba(0,0,0,.30);

    a {
      color: rgba(0,0,0,.30);
      cursor: pointer;
    }
  }
}
