.login-box {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  ci-card {
    width: 300px;
    height: auto;
    margin: 0 auto;
  }

  .state-button {
    float: right;
  }

  .login-extra {
    text-align: center;
    margin-top: 24px;
    color: rgba(0,0,0,.30);
    transition: opacity 0.4s 0.4s ease;

    opacity: 0;

    a {
      color: rgba(0,0,0,.30);
      cursor: pointer;
    }
  }
}

.init-overlap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0,0,0,.3);

  transition: opacity 0.2s ease;

  .init-card {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.login-logo-container {
  display: block;
  height: 40px;
  padding: 40px 0;
  text-align: center;

  transition: opacity 0.4s ease;
  opacity: 0;

  .ci-login-logo {
    height: 40px;
    opacity: 0.3;
  }
}
