ci-frame {
  main {
    background-color: #FAFAFA;
  }

  .ci-frame-container {
    margin: 0 auto;
    padding: 10px 0;

    @media (min-width: 1050px) {
      width: 1050px - 150px;
    }

    @media (max-width: 1049px) {
      width: 590px - 150px;
    }
  }


  header.mdl-layout__header {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: translateY(0);

    .mdl-layout__tab-bar-container {
      transition-property: height, opacity;
      transition-duration: 0.2s, 0.2s;
      transition-timing-function: ease-out, ease-out;
      opacity: 1;
    }

    .mdl-layout-title {
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      opacity: 1;
    }

    &:not(.ci-tabs) {
      .mdl-layout__tab-bar-container {
        transition-timing-function: ease-in;
        height: 0;
      }
    }

    &.ci-tab-animating {
      .mdl-layout__tab-bar-container {
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }

    &.ci-title-animating {
      .mdl-layout-title {
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }
  }

  .ci-anonymous {
    > header.mdl-layout__header {
      transition-timing-function: ease-in;
      transform: translateY(-70px);
    }
  }

  .ci-drawer.mdl-layout__drawer {

    $profile-height: 100px;

    padding-bottom: $profile-height + 1px; // For the border

    .ci-brand {
      height: 20px;
    }

    .mdl-navigation__link {
      color: rgba(0,0,0,.87);
      transition: background 0.2s ease;
      
      &.router-link-active {
        background: rgba(0,0,0,.06);
      }
    }

    .profile-box {
      position: absolute;
      height: $profile-height;
      right: 0;
      left: 0;
      bottom: 0;

      border-top: 1px solid rgba(0,0,0,.12);

      img {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 80px;
        height: 80px;

        border-radius: 50%;
      }

      .realname {
        color: rgba(0,0,0,.87);
        position: absolute;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        top: 15px;
        right: 10px;
        left: 100px;
      }

      .email {
        color: rgba(0,0,0,.54);
        position: absolute;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        top: 35px;
        right: 10px;
        left: 100px;
      }

      .operations {
        position: absolute;
        height: 32px;
        bottom: 10px;
        right: 10px;
        left: 100px;
        color: rgba(0,0,0,.38);
      }

      .masker {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 75%, white 100%);
      }
    }
  }
}

#ci-snackbar {
  transform: translate(-50%, 80px);
  margin: 0;

  &.mdl-snackbar--active {
    transform: translate(-50%, 0);
  }
}

body {
  background: #FAFAFA;
}
