ci-frame {
  .ci-frame-container {
    margin: 0 auto;
    padding: 10px 0;

    @media (min-width: 1050px) {
      width: 1050px - 150px;
    }

    @media (max-width: 1049px) {
      width: 590px - 150px;
    }
  }


  header.mdl-layout__header {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: translateY(0);

    .mdl-layout__tab-bar-container {
      transition-property: height, opacity;
      transition-duration: 0.2s, 0.2s;
      transition-timing-function: ease-out, ease-out;
      opacity: 1;
    }

    .mdl-layout-title {
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      opacity: 1;
    }

    &:not(.ci-tabs) {
      .mdl-layout__tab-bar-container {
        transition-timing-function: ease-in;
        height: 0;
      }
    }

    &.ci-tab-animating {
      .mdl-layout__tab-bar-container {
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }

    &.ci-title-animating {
      .mdl-layout-title {
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }
  }

  main.mdl-layout__content {
    transition-property: 0;
    transition-duration: 0s;
    transition-delay: 0.2s;
    margin-top: 0;
  }

  .ci-anonymous {
    > header.mdl-layout__header {
      transition-timing-function: ease-in;
      transform: translateY(-70px);
    }
    > main.mdl-layout__content {
      transition-delay: 5s;
      margin-top: -70px;
    }
  }

  .ci-drawer.mdl-layout__drawer {

    $profile-height: 100px;

    padding-bottom: $profile-height + 1px; // For the border

    .ci-brand {
      height: 20px;
    }

    .mdl-navigation__link {
      color: rgba(0,0,0,.87);
      transition: background 0.2s ease;
      
      &.router-link-active {
        background: rgba(0,0,0,.06);
      }
    }

    .profile-box {
      position: absolute;
      height: $profile-height;
      right: 0;
      left: 0;
      bottom: 0;

      border-top: 1px solid rgba(0,0,0,.12);

      ci-avatar {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
      }

      .realname {
        color: rgba(0,0,0,.87);
        position: absolute;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        top: 15px;
        right: 10px;
        left: 100px;
      }

      .email {
        color: rgba(0,0,0,.54);
        position: absolute;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        top: 35px;
        right: 10px;
        left: 100px;
      }

      .operations {
        position: absolute;
        height: 32px;
        bottom: 10px;
        right: 10px;
        left: 100px;
        color: rgba(0,0,0,.38);
      }

      .masker {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 75%, white 100%);
      }
    }
  }

  .ci-fabs {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 4;
    width: 56px;

    .ci-fab {
      display: block;
      margin-top: 15px;
      transition: transform 0.2s ease-in;
      transform: scale(0);
      .material-icons {
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
      }
    }

    &.ci-has-fab {
      .ci-fab {
        transition: transform 0.2s ease-out;
        transform: scale(1);
      }
    }

    &.ci-fab-animating {
      .ci-fab {
        .material-icons {
          opacity: 0;
        }
      }
    }

    .ci-subfab {
      transition-property: transform;
      transition-timing-function: ease-in;
      transition-duration: .2s;

      transform: translateY(20px) scale(0);
      transform-origin: center;

      display: block; 
      margin: auto;
      margin-top: 15px;

      .material-icons {
        color: rgba(0,0,0,.54);
      }
    }

    &.ci-show-subfabs {
      .ci-subfab {
        transition-timing-function: ease-out;

        transform: translateY(0) scale(1);
      }
    }
  }
}

#ci-snackbar {
  transform: translate(-50%, 80px);
  margin: 0;

  &.mdl-snackbar--active {
    transform: translate(-50%, 0);
  }
}

.ci-anchor {
  height: 0;
  width: 0;
  display: block;
}

body {
  background: #FAFAFA;
}

#particles-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transition-property: transform opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 1s;

  opacity: 0;
  transform: scale(0.8);

  &.shown {
    opacity: 0.1;
    transform: scale(1);
  }
}
