<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ci-mdl [ngClass]="{'ci-anonymous': user==null}" *ngIf="started">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">主页</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-naivgation">
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons" *ngIf="notif.length == 0">notifications_none</i>
          <i class="material-icons" *ngIf="notif.length > 0">notifications_active</i>
        </button>
      </div>
    </div>
  </header>

  <div class="mdl-layout__drawer ci-drawer" (click)="closeDrawer($event)">
    <span class="mdl-layout-title">Console iT</span>
    <nav class="mdl-navigation">
      <a [routerLink]="['Dashboard']" class="mdl-navigation__link">主页</a>
      <a [routerLink]="['About']" class="mdl-navigation__link">关于</a>
    </nav>


    <div class="profile-box" *ngIf="user">
      <img [src]="avatarUrl" class="mdl-shadow--2dp">
      <div class="realname">{{ user.realname }}</div>
      <div class="email">{{ user.email }}</div>
      <div class="operations">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click)="logout()">
          <i class="material-icons">power_settings_new</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" [routerLink]="['Profile']">
          <i class="material-icons">person</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" [routerLink]="['Settings']" *ngIf="user.isRoot">
          <i class="material-icons">settings</i>
        </button>
      </div>

      <div class="masker"></div>
    </div>
  </div>

  <main class="mdl-layout__content">
    <div class="ci-frame-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

