<div id="particles-background" [ngClass] = "{ shown: showParticles }"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ci-mdl [ngClass]="{'ci-anonymous': (!showTitle) || user === null}" *ngIf="started">
  <header class="mdl-layout__header" [ngClass]="{'ci-tabs': tabs.length != 0,
                                                 'ci-tab-animating': tabAnimating,
                                                 'ci-title-animating': titleAnimating}" ci-mdl>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ title }}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-naivgation">
        <button class="mdl-button mdl-js-button mdl-button--icon" id="ci-notif-badge">
          <i class="material-icons" *ngIf="notif.length == 0">notifications_none</i>
          <i class="material-icons" *ngIf="notif.length > 0">notifications_active</i>
        </button>
        <div class="mdl-tooltip" for="ci-notif-badge">
          通知功能暂未实现
        </div>
      </div>
    </div>

    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a *ngFor="let tab of tabs" class="mdl-layout__tab" [routerLink]="tab.route" [ngClass]="{'is-active': isRouteActive(tab.route, tab.router)}">
        {{ tab.title }}
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
        </span>
      </a>
    </div>
  </header>

  <div class="mdl-layout__drawer ci-drawer" (click)="closeDrawer($event)">
    <span class="mdl-layout-title">
      <img src="/assets/imgs/console.svg" class="ci-brand">
    </span>
    <nav class="mdl-navigation">
      <a [routerLink]="['Dashboard']" class="mdl-navigation__link">主页</a>

      <a *ngFor="let conf of confs" class="mdl-navigation__link" [routerLink]="['Conf', {id: conf._id}]">{{ conf.title }}</a>

      <a [routerLink]="['ConfList']" class="mdl-navigation__link">全部会议</a>
      <a [routerLink]="['About']" class="mdl-navigation__link">关于</a>
    </nav>

    <div class="profile-box" *ngIf="user">
      <ci-avatar [name]="user.realname" [email]="user.email"></ci-avatar>
      <div class="realname">{{ user.realname }}</div>
      <div class="email">{{ user.email }}</div>
      <div class="operations">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click)="logout()">
          <i class="material-icons">power_settings_new</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" [routerLink]="['Profile']">
          <i class="material-icons">person</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" [routerLink]="['Settings']" *ngIf="user.isRoot">
          <i class="material-icons">settings</i>
        </button>
      </div>

      <div class="masker"></div>
    </div>
  </div>

  <main class="mdl-layout__content">
    <div class="ci-frame-container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="ci-fabs" [ngClass] = "{'ci-has-fab': fab != null, 'ci-fab-animating': fabAnimating, 'ci-show-subfabs': showSubfabs}">
    <div class="ci-subfabs" *ngIf="fab && fab.subfabs">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab ci-subfab" *ngFor="let mf of fab.subfabs; let i = index" (click)="mf.action()" [ngStyle]="{ 'transition-delay': showSubfabs ? (fab.subfabs.length - 1) * 0.1 - i * 0.1 + 's' : i * 0.1 + 's' }">
        <i class="material-icons">{{ mf.icon }}</i>
      </button>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored ci-fab" (click)="fab.action()">
      <i class="material-icons">{{ fab ? fab.icon : "" }}</i>
    </button>
  </div>
</div>

