<div class="ci-card-container" type="1-col">
  <ci-card>
    <ci-card-title>
      关于 
    </ci-card-title>
    <div class="mdl-card__supporting-text">
      <p>Console iT 是一个由北京市高中生模拟联合国协会技术团队开发的模拟联合国在线系统。</p>
      <p>系统预计将囊括社团管理、会议筹备与管理、委员会文件管理个人信息更新等多个功能。系统的目标在于促进北京地区模拟联合国活动的发展与进步，让每一个模联人都能够享受到Console iT所带来的舒适与便捷。</p>

      <p>
        开发人员：<a style="cursor: pointer" (click)="gotoAuthor()">@CircuitCoder</a><br><br>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" (click) = "gotoJoin()">
          加入技术团队
        </button>
      </p>

      <p>
        Console iT 注册部分在 AGPL-3.0 协议下发布<br><br>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" (click) = "gotoGithubFrontend()">
          Console iT 前端代码库
        </button><br><br>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" (click) = "gotoGithubBackend()">
          Console iT 后端代码库
        </button>
      </p>
    </div>
  </ci-card>
</div>
