<ci-card style="width: 300px; margin: 20px auto">
  <ci-card-title>欢迎!</ci-card-title>
  <div class="mdl-card__supporting-text">
    我没有预见到你的到来,<br/>
    尤其是在我还没把这个网站发布的时候<br/>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ci-mdl (click) = "gotoGithub()">
      <i class="material-icons">description</i>Github
    </button>
  </div>
</ci-card>
<ci-card style="width: 300px; margin: 20px auto">
  <ci-card-title>下载客户端?</ci-card-title>
  <div class="mdl-card__supporting-text">
    在这里<br/>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ci-mdl (click) = "gotoConsoleiT()">
      <i class="material-icons">file_download</i>Console iT Client
    </button>
  </div>
</ci-card>
