<div class="ci-card-container" type="2-col">
  <div class="ci-card-col">
    <ci-card>
      <ci-card-title>
        个人信息
      </ci-card-title>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': user.email}">
        <input class="mdl-textfield__input" type="text" id="ci-profile-email" [(ngModel)]="account.email" disabled>
        <label class="mdl-textfield__label" for="ci-profile-email">注册邮箱</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': user.realname}">
        <input class="mdl-textfield__input" type="text" id="ci-profile-realname" [(ngModel)]="user.realname">
        <label class="mdl-textfield__label" for="ci-profile-realname">真实姓名</label>
      </div>

      <div class="ci-radios ci-radios-flex" ci-mdl>
        <div class="ci-radios-title">性别</div>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-gender-male" [ngClass]="{'is-checked': user.gender == 'male'}">
          <input type="radio"
            id="ci-profile-gender-male"
            class="mdl-radio__button"
            (click)="user.gender = 'male'"
            [checked]="user.gender == 'male'">
          <span class="mdl-radio__label">男</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-gender-female" [ngClass]="{'is-checked': user.gender == 'female'}">
          <input type="radio"
            id="ci-profile-gender-female"
            class="mdl-radio__button"
            (click)="user.gender = 'female'"
            [checked]="user.gender == 'female'">
          <span class="mdl-radio__label">女</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-gender-unknown" [ngClass]="{'is-checked': user.gender == 'unknown'}">
          <input type="radio"
            id="ci-profile-gender-unknown"
            class="mdl-radio__button"
            (click)="user.gender = 'unknown'"
            [checked]="user.gender == 'unknown'">
          <span class="mdl-radio__label">保密</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-gender-other" [ngClass]="{'is-checked': user.gender == 'other'}">
          <input type="radio"
            id="ci-profile-gender-other"
            class="mdl-radio__button"
            (click)="user.gender = 'other'"
            [checked]="user.gender == 'other'">
          <span class="mdl-radio__label">其他</span>
        </label>
      </div>

      <!-- Do we need an extra field for genders? -->

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': user.phone}">
        <input class="mdl-textfield__input" type="text" id="ci-profile-phone" [(ngModel)]="user.phone">
        <label class="mdl-textfield__label" for="ci-profile-phone">手机</label>
      </div>

      <div class="ci-radios ci-radios-flex" ci-mdl>
        <div class="ci-radios-title">目前在读</div>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-school-type-junior" [ngClass]="{'is-checked': user.schoolType == 1}" ci-mdl>
          <input type="radio"
            id="ci-profile-school-type-junior"
            class="mdl-radio__button"
            (click)="user.schoolType = 1"
            [checked]="user.schoolType == 1">
          <span class="mdl-radio__label">初中</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-school-type-senior" [ngClass]="{'is-checked': user.schoolType == 2}" ci-mdl>
          <input type="radio"
            id="ci-profile-school-type-senior"
            class="mdl-radio__button"
            (click)="user.schoolType = 2"
            [checked]="user.schoolType == 2">
          <span class="mdl-radio__label">高中</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-school-type-university" [ngClass]="{'is-checked': user.schoolType == 3}" ci-mdl>
          <input type="radio"
            id="ci-profile-school-type-university"
            class="mdl-radio__button"
            (click)="user.schoolType = 3"
            [checked]="user.schoolType == 3">
          <span class="mdl-radio__label">大学</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ci-profile-school-type-other" [ngClass]="{'is-checked': user.schoolType == 4}" ci-mdl>
          <input type="radio"
            id="ci-profile-school-type-other"
            class="mdl-radio__button"
            (click)="user.schoolType = 4"
            [checked]="user.schoolType == 4">
          <span class="mdl-radio__label">其他</span>
        </label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" *ngIf = "user.schoolType != 4" ci-mdl [ngClass]="{'is-dirty': user.schoolName}">
        <input class="mdl-textfield__input" type="text" list="ci-profile-school-list" id="ci-profile-school-name" [(ngModel)]="user.schoolName">
        <label class="mdl-textfield__label" for="ci-profile-school-name">在读校名</label>
      </div>

      <datalist id="ci-profile-school-list">
        <option *ngFor="let school of schoolList" [value]="school">
      </datalist>

      <!-- TODO: Why do I need a ngClass here? -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" *ngIf = "user.schoolType != 4" ci-mdl [ngClass]="{'is-dirty': user.graduationYear != undefined}">
        <input class="mdl-textfield__input" type="number" id="ci-profile-graduation-year" [(ngModel)]="user.graduationYear">
        <label class="mdl-textfield__label" for="ci-profile-graduation-year">毕业年份</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': user.desc}">
        <textarea class="mdl-textfield__input" type="text" id="ci-profile-desc" rows="4" [(ngModel)]="user.desc"></textarea>
        <label class="mdl-textfield__label" for="user.desc">个人简介</label>
      </div>

      <ci-card-actions>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" type="submit" (click) = "updateInfo()">
          提交
        </button>
        <button class="mdl-button mdl-button mdl-js-button mdl-js-ripple-effect" (click)="gotoGravatar()">
          前往 Gravatar 更换头像
        </button>
      </ci-card-actions>
    </ci-card>
  </div>

  <div class="ci-card-col">
    <ci-card ci-mdl>
      <ci-card-title>
        账户与安全
      </ci-card-title>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="ci-profile-oripasswd" [(ngModel)]="oripasswd">
        <label class="mdl-textfield__label" for="ci-profile-oripasswd">当前密码</label>
      </div>
      <br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="ci-profile-passwd" [(ngModel)]="passwd">
        <label class="mdl-textfield__label" for="ci-profile-passwd">新密码</label>
      </div>

      <ci-card-actions>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" type="submit" (click) = "updatePasswd()">
          更新密码
        </button>
      </ci-card-actions>
    </ci-card>
  </div>
</div>
