<div class="ci-card-container" type="action">
  <div class="ci-card-col wide">
    <ci-card *ngFor="#entry of form, #i = index">
      <ci-card-title>
        <span class="ci-annotation-normal">{{ i+1 }}</span> <span [style.font-weight]="entry.type == 'title' ? 'bold' : 'inherit'">{{ entry.title }}</span> <span class="ci-warning" *ngIf="entry.required">*</span>
      </ci-card-title>

      <div class="mdl-card__supporting-text" *ngIf="entry.desc">
        {{ entry.desc }}
      </div>

      <!-- radios -->
      <div class="ci-radios" *ngIf = "entry.type == 'radio'">
        <template ngFor #choice [ngForOf]="entry.choices" #j = "index">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-' + i + '-' + j" ci-mdl [ngClass]="{'is-checked': data[i] == choice}">
            <input type="radio"
              [id]="'conf-form-' + i + '-' + j"
              class="mdl-radio__button"
              (click)="data[i] = choice"
              [disabled]="canModify"
              [checked]="data[i] == choice">
            <span class="mdl-radio__label">{{choice}}</span>
          </label>
          <br>
        </template>
      </div>

      <!-- checkbox -->
      <div class="ci-radios" *ngIf = "entry.type == 'checkbox' && data[i]">
        <template ngFor #choice [ngForOf]="entry.choices" #j = "index">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [attr.for]="'conf-form-' + i + '-' + j" ci-mdl [ngClass]="{'is-checked': data[i][choice]}">
            <input type="checkbox"
              [id]="'conf-form-' + i + '-' + j"
              class="mdl-checkbox__input"
              [disabled]="canModify"
              [(ngModel)]="data[i][choice]">
            <span class="mdl-checkbox__label">{{choice}}</span>
          </label>
          <br>
        </template>
      </div>

      <!-- input -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ci-mdl *ngIf = "entry.type == 'input'" [ngClass]="{'is-dirty': data[i] && data[i]!=''}">
        <input class="mdl-textfield__input" type="text" [id]="'conf-form-'+i" [(ngModel)]="data[i]" ci-mdl-input [disabled]="canModify">
        <label class="mdl-textfield__label" [attr.for]="'conf-form-'+i">回答</label>
      </div>

      <!-- textarea -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ci-mdl *ngIf = "entry.type == 'area'" [ngClass]="{'is-dirty': data[i] && data[i]!=''}">
        <textarea class="mdl-textfield__input" type="text" [id]="'conf-form-'+i" rows="4" [(ngModel)]="data[i]" [disabled]="canModify" ci-mdl-input></textarea>
        <label class="mdl-textfield__label" [attr.for]="'conf-form-'+i">回答</label>
      </div>

    </ci-card>
  </div>
  <div class="ci-card-col narrow">
    <ci-card>
      <ci-card-title>
        {{ formName }}
      </ci-card-title>

      <div class="mdl-card__supporting-text">
        状态: <strong>{{ statusText }}</strong>
      </div>

      <ci-card-actions>
        <button class="mdl-button--raised mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="submit()" *ngIf="canModify">
          {{ status == 0? "提交" : "更新" }}
        </button>
      </ci-card-actions>
    </ci-card>
  </div>
</div>
