<div class="ci-card-container" type="action">
  <div class="ci-card-col wide">
    <ci-card>
      <ci-card-title>
        提交状态
      </ci-card-title>
      <div class="mdl-card__supporting-text ci-annotation">
        {{ registrants.length == 0 ? "目前无人提交申请" : "目前有 " + registrants.length + " 人提交申请" }}
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ci-mdl>
        <input class="mdl-textfield__input" type="text" id="ci-app-listing-search" [(ngModel)]="searchStr" #searchInput>
        <label class="mdl-textfield__label" for="ci-app-listing-search">搜索 (姓名包含或者状态等于)</label>
      </div>
    </ci-card>
    <ci-card>
      <div class="ci-card-table ci-entry-table ci-application-list">
        <table class="mdl-data-table">
          <thead>
            <th class="mdl-data-table__cell--non-numeric">姓名</th>
            <th class="mdl-data-table__cell--non-numeric" *ngFor="let kw of keywords">{{ kw.field.title }}</th>
          </thead>
          <tbody>
            <!-- Using display for now since table rows can't be transformed -->
            <tr *ngFor="let entry of registrants" [ngStyle]="{ display: entry.visible ? 'table-row' : 'none' }" [routerLink]="['Application', { form: formId, uid: entry.user }]">
              <td class="mdl-data-table__cell--non-numeric">{{ entry.profile.realname }}</td>
              <td class="mdl-data-table__cell--non-numeric" *ngFor="let kw of keywords">{{ getKwRepr(kw.field, entry.submission[kw.id]) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ci-card>
  </div>
  <div class="ci-card-col narrow">
    <ci-card>
      <ci-card-title>
        操作
      </ci-card-title>
      <div class="mdl-card__supporting-text">
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink] = "['FormEdit', {form: formId}]">
          修改表单
        </button>
      </div>
    </ci-card>
  </div>
</div>
