<div class="ci-card-container" type="action">
  <div class="ci-card-col wide">
    <ci-card>
      <ci-card-title>
        提交状态
      </ci-card-title>
      <div class="mdl-card__supporting-text ci-annotation">
        {{ submissions.length == 0 ? "目前无人提交申请" : "目前有 " + submissions.length + " 人提交申请" }}
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ci-mdl>
        <input class="mdl-textfield__input" type="text" id="ci-app-listing-search" [(ngModel)]="searchStr">
        <label class="mdl-textfield__label" for="ci-app-listing-search">搜索 (姓名包含或者状态等于)</label>
      </div>
    </ci-card>
    <ci-card *ngFor="#entry of submissions | funcFilter:flt:searchStr:membersMap:getStatusText">
      <ci-card-title>
        {{ entry.realname }}<span class="ci-annotation"> - {{ entry.status }}</span>
        <i *ngIf="entry.locked" class="material-icons">lock</i>
      </ci-card-title>
      <ci-card-actions>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink] = "['Application', {form: formId, uid: entry.user}]">
          查看表单
        </button>
      </ci-card-actions>
    </ci-card>
  </div>
  <div class="ci-card-col narrow">
    <ci-card>
      <ci-card-title>
        操作
      </ci-card-title>
      <div class="mdl-card__supporting-text">
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink] = "['Form', {form: formId}]">
          修改表单
        </button>
      </div>
    </ci-card>
  </div>
</div>
