<div class="ci-card-container" type="action" ci-mdl>
  <div class="ci-card-col wide">
    <ci-card>
      <ci-card-title>
        编辑表单: {{ formName }}
      </ci-card-title>
      <ci-card-actions>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click) = "pushField()">
          <i class="material-icons">add</i>
        </button>
      </ci-card-actions>
    </ci-card>
    <ci-card *ngFor="#entry of data, #i = index, #last = last">
      <ci-card-title>
        <span class="ci-annotation-normal">{{ i+1 }}</span> {{ entry.title }} <span class="ci-warning" *ngIf="entry.required">*</span>
      </ci-card-title>

      <div class="ci-radios" ci-mdl>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-type-input-'+i" [ngClass]="{'is-checked': entry.type=='input'}">
          <input type="radio"
            [id]="'conf-form-type-input-' + i"
            class="mdl-radio__button"
            (click)="entry.type = 'input'"
            [checked]="entry.type == 'input'">
          <span class="mdl-radio__label">文本</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-type-area-'+i" [ngClass]="{'is-checked': entry.type=='area'}">
          <input type="radio"
            [id]="'conf-form-type-area-' + i"
            class="mdl-radio__button"
            (click)="entry.type = 'area'"
            [checked]="entry.type == 'area'">
          <span class="mdl-radio__label">文本区</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-type-radio-'+i" [ngClass]="{'is-checked': entry.type=='radio'}">
          <input type="radio"
            [id]="'conf-form-type-radio-' + i"
            class="mdl-radio__button"
            (click)="entry.type = 'radio'"
            [checked]="entry.type == 'radio'">
          <span class="mdl-radio__label">单选</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-type-checkbox-'+i" [ngClass]="{'is-checked': entry.type=='checkbox'}">
          <input type="radio"
            [id]="'conf-form-type-checkbox-' + i"
            class="mdl-radio__button"
            (click)="entry.type = 'checkbox'"
            [checked]="entry.type == 'checkbox'">
          <span class="mdl-radio__label">复选</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="'conf-form-type-title-'+i" [ngClass]="{'is-checked': entry.type=='title'}">
          <input type="radio"
            [id]="'conf-form-type-title-' + i"
            class="mdl-radio__button"
            (click)="entry.type = 'title'"
            [checked]="entry.type == 'title'">
          <span class="mdl-radio__label">标题</span>
        </label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': entry.title && entry.title!=''}">
        <input class="mdl-textfield__input" type="text" [id]="'conf-form-title-' + i" [(ngModel)]="entry.title">
        <label class="mdl-textfield__label" [attr.for]="'conf-form-title-' + i">名称</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': entry.desc && entry.desc!=''}">
        <textarea class="mdl-textfield__input" type="text" [id]="'conf-form-desc-' + i" rows="4" [(ngModel)]="entry.desc"></textarea>
        <label class="mdl-textfield__label" [attr.for]="'conf-form-desc-' + i">说明</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-dirty': entry.choices && entry.choices!=''}">
        <textarea class="mdl-textfield__input" type="text" [id]="'conf-form-choices-' + i" rows="4" [(ngModel)]="entry.choices" [disabled]="entry.type == 'input' || entry.type == 'area'"></textarea>
        <label class="mdl-textfield__label" [attr.for]="'conf-form-choices-' + i">可用选项 (每行一个)</label>
      </div>

      <div class="ci-radios" ci-mdl>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [attr.for]="'conf-form-required'+i" [ngClass]="{'is-checked': entry.required}">
          <input type="checkbox"
            [id]="'conf-form-required' + i"
            class="mdl-checkbox__input"
            [(ngModel)]="entry.required">
          <span class="mdl-checkbox__label">必填</span>
        </label>
      </div>

      <ci-card-actions>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click) = "deleteField(i)">
          <i class="material-icons">delete</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click) = "moveDown(i)" [hidden]="last">
          <i class="material-icons">arrow_downward</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click) = "moveUp(i)" [hidden]="i == 0">
          <i class="material-icons">arrow_upward</i>
        </button>
      </ci-card-actions>

    </ci-card>
  </div>
  <div class="ci-card-col narrow">
    <ci-card>
      <ci-card-title>
        操作
      </ci-card-title>
      <div class="mdl-card__supporting-text">
        <button class="mdl-button--raised mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="submit()">
          提交
        </button>
      </div>
    </ci-card>
  </div>
</div>
