<div class="ci-card-container" type="action" *ngIf="confData">
  <div class="ci-card-col wide">
    <ci-card *ngFor = "#body of confDescs; #i = index">
      <ci-card-title>
        {{ i == 0 ? confData.title : confDescTitles[i-1] }}
      </ci-card-title>
      <div [innerHTML]="body"></div>
      <div class="mdl-card__supporting-text ci-annotation" *ngIf = "body == '' && i == 0">
        组委并未为此会议添加简介
      </div>
    </ci-card>
  </div>
  <div class="ci-card-col narrow">
    <ci-card>
      <ci-card-title>
        会议信息
      </ci-card-title>
      <div class="mdl-card__supporting-text">
        主办方: <strong>{{ confGroup.title }}</strong>
      </div>
      <div class="mdl-card__supporting-text">
        目前会议正在 <strong>{{ confData.currentStage }}</strong>
      </div>
      <ci-card-actions [ngSwitch]="confData.status">
        <div *ngSwitchWhen="1">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink]="['Application', {uid: userId, type: 'academic-zh'}]">
            中文学术团队申请通道
          </button>
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink]="['Application', {uid: userId, type: 'academic-en'}]">
            英文学术团队申请通道
          </button>
        </div>
        <div class="ci-annotation" *ngSwitchDefault style="padding: 8px">
          无可用快捷方式
        </div>
      </ci-card-actions>
    </ci-card>
    <ci-card>
      <ci-card-title>
        组织团队
      </ci-card-title>
      <div class="conf-member-list" *ngFor="let member of confData.members">
        <ci-avatar [name]="confMembers[member._id].realname" [email]="confMembers[member._id].email"></ci-avatar>
        <div class="conf-member-info">
          <div class="conf-member-name">{{confMembers[member._id].realname}}</div>
          <div class="conf-member-role" [title]="confRoles[member.role].title">{{confRoles[member.role].title}}</div>
        </div>
        <div class="masker"></div>
      </div>
    </ci-card>
  </div>
  <div class="ci-card-col">
  </div>
</div>
