<div class="ci-card-container" type="action" ci-mdl>
  <div class="ci-card-col narrow">
    <!-- placeholder -->
  </div>
  <div class="ci-card-col narrow ci-card-col-fixed">
    <ci-card>
      <ci-card-title>
        设置
      </ci-card-title>
      <div class="ci-card-table ci-entry-table">
        <table class="mdl-data-table">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric" (click)="jumpTo('conf-setting-info')">会议信息</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric" (click)="jumpTo('conf-setting-form')">表单</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric" (click)="jumpTo('conf-setting-comm')">委员会</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric" (click)="jumpTo('conf-setting-mem')">成员</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ci-card>
  </div>
  <div class="ci-card-col wide">

    <!-- TODO: cleanup the dirtiness! -->
    <span class="ci-anchor" id="conf-setting-info"></span>

    <ci-card>
      <ci-card-title>
        会议信息<!-- TODO: We need a icon here-->
      </ci-card-title>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="ci-conf-settings-title" [(ngModel)]="settings.title">
        <label class="mdl-textfield__label" for="ci-conf-settings-title">会议名称</label>
      </div>
      <br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" rows="4" id="ci-conf-settings-desc" [(ngModel)]="settings.desc"></textarea>
        <label class="mdl-textfield__label" for="ci-conf-settings-desc">会议简介</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="ci-conf-settings-currentStage" [(ngModel)]="settings.currentStage">
        <label class="mdl-textfield__label" for="ci-conf-settings-currentStage">当前阶段</label>
      </div>

      <ci-card-actions>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" (click)="updateSettings()">
          更新
        </button>
      </ci-card-actions>
    </ci-card>

    <span class="ci-anchor" id="conf-setting-form"></span>

    <ci-card>
      <ci-card-title>
        表单
      </ci-card-title>
      <div class="ci-card-table">
        <table class="mdl-data-table">
          <thead>
            <th class="mdl-data-table__cell--non-numeric">
              ID
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              标题
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              状态
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              操作
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let f of forms; let i = id">
              <td class="mdl-data-table__cell--non-numeric">
                {{ f.name }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ f.title }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ getFormStatus(f.status) }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <button class="mdl-button mdl-js-button mdl-button--icon" [routerLink]="['FormEdit', { form: f.name }]" [disabled]="!canModify(f)">
                  <i class="material-icons">edit</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon" [routerLink]="['ApplicationList', { form: f.name }]" [disabled]="!canView(f)">
                  <i class="material-icons">toc</i>
                </button>
              </td>
            </tr>
            <tr (click)="showFormCreation()" class="ci-table-creation">
              <td class="mdl-data-table__cell--non-numeric">
                <span class="ci-annotation-normal">
                  <i class="material-icons">add</i>
                </span>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <span class="ci-annotation-normal">
                  新表单
                </span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ci-card>
  </div>
</div>

<div class="new-form-dialog-overlap" [ngClass]="{ shown: formCreation }" *ngIf="formDialogCreated" (click)="closeFormCreation($event, this)">
  <ci-card class="new-form-dialog">
    <ci-card-title>
      新建表单
    </ci-card-title>
    <div class="mdl-card__supporting-text">
      请输入新表单的 ID. 此 ID 要求与本会议中其他表单不同，并会显示在网页 URL 中。
    </div>
    <div class="mdl-card__supporting-text">
      您可以在 ID 中使用大小写英文字母、数字或者连字符。
      ID 在表单创建后不能更改。表单名可以更改。
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="ci-conf-settings-formId" [(ngModel)]="formId" ci-mdl>
      <label class="mdl-textfield__label" for="ci-conf-settings-formId">ID</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="ci-conf-settings-formTitle" [(ngModel)]="formTitle" ci-mdl>
      <label class="mdl-textfield__label" for="ci-conf-settings-formTitle">表单名</label>
    </div>

    <ci-card-actions>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" (click) = "performFormCreation()">
        创建新表单
      </button>
      <span style="margin-left: 16px; transition: opacity 0.2s ease" [ngStyle]="{ opacity: formCreating ? 1 : 0 }" class="ci-annotation-normal">创建中...</span>
    </ci-card-actions>
  </ci-card>
</div>
